lvm_name="foo"
boot_part='UUID="4371a575-3a37-476f-8831-05558db4e8a8"'
crypt_part='UUID=bf1a7669-e944-444d-83cc-102f34689544'

# you probably won't need to change those:
crypt_dev_name=${lvm_name}_crypt
root_dev=/dev/mapper/${lvm_name}-root
subvol=${subvol:-rootfs}
root_mnt="/mnt/$(basename $root_dev)"
rootfs_mnt="${root_mnt}-${subvol}"
